<div class="container">
    <div class="row">
        <article class="col-sm-9">
            <h4 class="text-left">VỀ TẬP ĐOÀN FPT</h4>
            <br>
            <h6 class="text-left"> 15:11 14/06/2016</h6>
            <div class="card-body">
                <img src="assets/images/h1.jpg" width="800px" height="120px" alt="">
            </div>
            <h2 style="text-align: justify;"><span style="color: #000000;"><strong>FPT Polytechnic đào tạo hệ Cao
                        đẳng thực hành trực thuộc trường Đại học FPT và&nbsp;là thành viên của <span
                            style="color: #000000;"><a style="color: #000000;" href="https://www.fpt.com.vn/vi"
                                target="_blank" rel="noopener">Tập đoàn FPT</a></span></strong></span></h2>
            <p style="text-align: justify;"><span style="color: #ff6600;"><strong>GIỚI THIỆU CHUNG</strong></span>
            </p>
            <p style="text-align: justify;">Năm 1988, 13 nhà khoa học trẻ thành lập Công ty FPT với mong muốn xây
                dựng “<strong><em>một tổ chức kiểu mới, giàu mạnh bằng nỗ lực lao động sáng tạo trong khoa học kỹ
                        thuật và công nghệ, làm khách hàng hài lòng, góp phần hưng thịnh quốc gia, đem lại cho mỗi
                        thành viên của mình điều kiện phát triển đầy đủ nhất về tài năng và một cuộc sống đầy đủ về
                        vật chất, phong phú về tinh thần</em></strong>”.</p>
            <p style="text-align: justify;">Không ngừng đổi mới, liên tục sáng tạo và luôn tiên phong mang lại cho
                khách hàng các sản phẩm/giải pháp/dịch vụ công nghệ tối ưu nhất, FPT trở thành công ty CNTT – VT lớn
                nhất trong khu vực kinh tế tư nhân của Việt Nam với hơn&nbsp;<strong>32.000 cán bộ nhân
                    viên</strong>, trong đó có&nbsp;<strong>13.695 kỹ sư CNTT</strong>, lập trình viên, chuyên
                gia công nghệ; hiện diện tại 5 châu lục, 33 quốc gia trên thế giới. FPT cũng là doanh nghiệp dẫn
                đầu trong các lĩnh vực: Xuất khẩu phần mềm; Tích hợp hệ thống; Phát triển phần mềm; Dịch vụ CNTT;
                Phân phối sản phẩm công nghệ tại Việt Nam.</p>
            <p style="text-align: justify;">Trong 30 năm qua, FPT không chỉ tiên phong xây dựng, phát triển các phần
                mềm thương hiệu Việt; đưa công nghệ vào cuộc sống; hiện đại hóa các ngành kinh tế xương sống của
                quốc gia; đẩy mạnh giáo dục &amp; đào tạo thế hệ trẻ theo hướng thực học, thực nghiệp, mà còn tiên
                phong trong lĩnh vực xuất khẩu phẩn mềm, góp phần đưa trí tuệ Việt Nam ra thế giới. Trong nước, hầu
                hết các hệ thống thông tin lớn trong các cơ quan nhà nước và các ngành kinh tế trọng điểm của Việt
                Nam đều do FPT xây dựng và phát triển.</p>
            <p style="text-align: justify;">Trong cuộc cách mạng 4.0, FPT là công ty Việt Nam tiên phong trong việc
                nghiên cứu và phát triển các công nghệ mới về trí tuệ nhân tạo, dữ liệu lớn, điện toán đám mây, di
                động,… FPT cũng là doanh nghiệp tiên phong đồng hành cùng với các tập đoàn công nghệ hàng đầu thế
                giới để tạo nên các nền tảng công nghệ số tiên tiến nhất như GE (Predix), Siemens (MindSphere),
                Airbus (Skywise), Amazon AWS…</p>
            <p style="text-align: justify;">Vị thế của FPT trên toàn cầu
                đã được công nhận và khẳng định thông qua danh sách khách hàng gồm hơn 550 doanh nghiệp lớn trên thế
                giới, đặc biệt trong đó có gần 80 khách hàng nằm trong danh sách Fortune 500. Một số tên tuổi khách
                hàng lớn có thể kể đến Toshiba, Hitachi, Airbus, Deutsche Bank, Unilever, Panasonic…</p>
            <p style="text-align: justify;"><span style="color: #ff6600;"><strong>VĂN HÓA</strong></span></p>
            <p style="text-align: justify;">Văn hóa FPT được gói gọn trong 6 chữ ‘<strong>TÔN ĐỔI ĐỒNG – CHÍ GƯƠNG
                    SÁNG</strong>‘, trong đó:</p>
            <p style="text-align: justify;">“TÔN ĐỔI ĐỒNG” nghĩa là “Tôn trọng cá nhân – Tinh thần đổi mới – Tinh
                thần đồng đội”, là những giá trị mà tất cả người FPT đều chia sẻ.</p>
            <p style="text-align: justify;">“CHÍ GƯƠNG SÁNG” nghĩa là “Chí công – Gương mẫu – Sáng suốt”, là những
                phẩm chất cần có của lãnh đạo FPT.</p>
            <p style="text-align: justify;"><span style="color: #ff6600;"><strong>ĐỊNH HƯỚNG&nbsp;CÔNG
                        NGHỆ</strong></span></p>
            <p style="text-align: justify;">Trong bối cảnh cả thế giới đang bước vào cuộc Cách mạng công nghiệp lần
                thứ 4 – cuộc cách mạng số, FPT sẽ là người cùng tiên phong trong xu hướng số hoá thông qua việc xây
                dựng, ứng dụng và chuyển đối chính mình, không chỉ cải tiến mà còn mang lại những công nghệ với
                nhiều ứng dụng mới, có khả năng áp dụng thực tiễn cao, mang lại hiệu quả sản xuất kinh doanh cũng
                như trải nghiệm mới cho khách hàng, từ đó cùng bắt kịp và cùng phát triển trong thế giới số.</p>
            <ul style="text-align: justify;">
                <li>Chú trọng đầu tư vào các công nghệ, sản phẩm, dịch vụ, hạ tầng kinh doanh được phát triển trên
                    nền tảng SMAC, IoT và Digital transformation.</li>
                <li>Tăng cường đầu tư, nâng cao chất lượng đội ngũ chuyên gia công nghệ, xây dựng môi trường làm
                    việc đầy sáng tạo và hiệu quả.</li>
                <li>Hướng tới phát triển các hoạt động dành cho cộng đồng công nghệ, từ đó xây dựng hệ sinh thái
                    công nghệ bền vững.</li>
            </ul>
        </article>
        <br>
        <aside class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    <strong><button (click)="show()" class="btn btn-primary"><i class="fas fa-list"></i> DANH MỤC</button> </strong>
                </div>            
                <div class="list-group" *ngIf = "showForm">
                    <a href="#" class="list-group-item">Thông báo tuyển sinh</a>
                    <a href="#" class="list-group-item">Chương trình đào tạo</a>
                    <a href="#" class="list-group-item">Quy chế tuyển sinh</a>
                    <a href="#" class="list-group-item">Phiếu đăng ký học</a>
                    <a href="#" class="list-group-item">Hướng dẫn nhập học</a>
                    <a href="#" class="list-group-item">Học Phí</a>
                    <a href="#" class="list-group-item">Câu hỏi thường gặp </a>
                </div>

                <div class="card-header">
                    <strong> POLY ON YOUTUBER</strong>
                </div>
                <iframe width="253px" height="160px" src="https://www.youtube.com/embed/42EgrV-62lU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </aside>
    </div>
</div>